body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  padding: 1em;
}

h1 {
  font-size: 2em;
  margin: 0.25em 0;
}

h3 {
  font-size: 1.2em;
  margin: 0.25em 0;
}

p {
  font-size: 1em;
}

caption {
  font-size: 1.3em
}

th {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  padding: 1em;
  color:white;
  background-color: darkolivegreen;
}

tr:nth-child(even){
  background-color: rgb(244, 250, 244);
}

tr:nth-child(odd){
  background-color: antiquewhite;
}
th.center {
  text-align:center;
}
td.right {
  text-align:right
}
td.italic {
  font-style: italic;
}

text.small { 
  font-family: Arial, Helvetica, sans-serif;
  font: italic bold 6px calibri; fill:rgb(197, 226, 252);
}
text.medium { 
  font-family: Arial, Helvetica, sans-serif;
  font: 7px sans-serif; fill:rgb(197, 226, 252);
}
text.heavy { 
  font-family: Arial, Helvetica, sans-serif;
  font: italic 8px sans-serif; fill:aliceblue;
}
img.fit{
  width: 300px; height:500px;
}
button.view{
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    background-color: rgb(96, 91, 119);
   
}

button.view:hover {
    background-color: rgb(128, 49, 49);
}
button.view:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
              inset 2px 2px 3px rgba(0, 0, 0, .6);
}